{# {% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <!--
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    -->

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %} #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>My Energy CLEVER - Authentification</title>
    <link rel="icon" type="image/x-icon" href="/img/logoCLETech.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/css/authentication/form-1.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->    
    <link rel="stylesheet" type="text/css" href="/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="/css/forms/switches.css">
</head>
<body class="form">

    <div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content text-center">

                        <h2 class="">Bienvenue sur My Energy CLEVER Portal</h2>
                        <p class="signup-link float-center">Let's Get Started</p>
                        {% if hasError %}
                            {#<div class="alert alert-danger">An error has occurred, the username or password is invalid</div>#}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                                </button>
                                <strong>Une erreur s'est produite, l'adresse email ou le mot de passe est incorrect</strong> Modifiez quelques éléments et essayez de soumettre à nouveau.
                            </div>
                        {% endif %}     

                            {% for label, messages in app.flashes %}
                            <div class="alert icon-custom-alert alert-outline-{{label}} alert-{{label}}-shadow alert-dismissible fade show" role="alert">
                                {% if label == 'success' %}<i class="mdi mdi-check-all alert-icon"></i>{% endif %}
                                <div class="alert-text">
                                    {% for message in messages %}
                                        <strong>{{ message | raw }}</strong>.
                                    {% endfor %}
                                </div>    
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                                </button>                                        
                            </div>
                            
                        {% endfor %}    
                        <form class="text-left" id="login-form" method="POST">
                            <div class="form">

                                {# <div id="username-field" class="field-wrapper input">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    <input id="username" name="username" type="text" class="form-control" placeholder="Username">
                                </div> #}
                                <div id="email-field" class="field-wrapper input">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                                    <input id="username" class="form-control custom-focus" name="email" type="email" value="{{last_username}}" placeholder="Email" autocomplete="email" required autofocus>
                                </div>
                                <div id="password-field" class="field-wrapper input mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                    <input class="form-control custom-focus" id="password" name="password" type="password" value="" placeholder="Entrer le Mot de passe" autocomplete="current-password" required>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper toggle-pass">
                                        <p class="d-inline-block"><span id="showPwd">Afficher</span> Mot de passe</p>
                                        <label class="switch s-primary">
                                            <input type="checkbox" id="toggle-password" class="d-none">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="field-wrapper">
                                        <button type="submit" id="LogInBtn" class="btn btn-primary" value="">
                                        <span class="spinner-border spinner-border-sm mr-1 d-none" role="status" aria-hidden="true"></span>
                                        Log In <i class="fas fa-sign-in-alt ml-1"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="field-wrapper text-center my-2 terms_condition">
                                    <a href="{{path('account_recoverpw')}}" class="text-muted font-13"><i class="mdi mdi-lock"></i> Mot de passe oublié ?</a>                                    
                                </div>

                            </div>
                        </form>                        
                        <p class="terms-conditions">© 2021 MY Energy CLEVER Portal, All rights reserved. Engineered in Cameroon By <a target="_blank" href="https://cleverelectric-company.com" class="text-primary">CLEVER ELECTRIC Technologies</a>.</p>

                    </div>                    
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image">
            </div>
        </div>
    </div>

    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="/js/libs/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="/js/authentication/form-1.js"></script>

    <script>
        {# $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye-slash fa-eye");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
                $('#showPwd').html('Hide');
            } else {
                input.attr("type", "password");
                $('#showPwd').html('Show');
            }
        }); #}

        $('input[type="checkbox"]').click(function(){
            var input = $($(".toggle-password").attr("toggle"));
            if($(this).prop("checked") == true){
                console.log("Checkbox is checked.");
                $('#password').attr("type", "text");
                $('#showPwd').html('Masquer');
            }
            else if($(this).prop("checked") == false){
                console.log("Checkbox is unchecked.");
                $('#password').attr("type", "password");
                $('#showPwd').html('Afficher');
            }
        });

        $('#LogInBtn').click(function(){
            // Fetch form to apply custom Bootstrap validation
            var form = $("#login-form")

            if (form[0].checkValidity() === false)
            {
                event.preventDefault()
                event.stopPropagation()
                console.log('form[0] = ' + form[0])
            }
            else{
                $(this).children('i').addClass('d-none');
                $(this).children('span').removeClass('d-none');

            }
            
            form.addClass('was-validated');
        });
    </script>
</body>
</html>